<footer class="bg-gray-800 text-white text-center py-6 mt-10">
    <p>© <%= new Date().getFullYear() %> FarmChain. All rights reserved.</p>
    <p>Follow us on
      <a href="#" class="underline hover:text-green-400">Facebook</a> |
      <a href="#" class="underline hover:text-green-400">Instagram</a> |
      <a href="#" class="underline hover:text-green-400">Twitter</a>
    </p>
  </footer>
  