<footer class="bg-gray-800 text-white text-center py-6 mt-10">
    <p class="speakable" data-en="© <%= new Date().getFullYear() %> FarmChain. All rights reserved." data-mr="© <%= new Date().getFullYear() %> फार्मचेन. सर्व हक्क राखीव.">© <%= new Date().getFullYear() %> FarmChain. All rights reserved.</p>
    <p class="speakable" data-en="Follow us on" data-mr="आम्हाला फॉलो करा">
      Follow us on
      <a href="#" class="underline hover:text-green-400 speakable" data-en="Facebook" data-mr="फेसबुक">Facebook</a> |
      <a href="#" class="underline hover:text-green-400 speakable" data-en="Instagram" data-mr="इन्स्टाग्राम">Instagram</a> |
      <a href="#" class="underline hover:text-green-400 speakable" data-en="Twitter" data-mr="ट्विटर">Twitter</a>
    </p>
  </footer>
  